.card-image{
  max-height: 50%;
}

.btn-card{
  position: absolute;
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%);
}

.rates{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2p solid red;
}